<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <!--<h1>{{title}}</h1>-->
        <img class="port" src="img/ab.jpg">
        <p>It's easy-peasy lemon-squeesy.</p>
    </div>
    {{>footer}}
</body>

</html>